<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Produits</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h1>Liste des Produits</h1>
        <ul>
            <% products.forEach(product => { %>
                <li>
                    <h2><%= product.name %></h2>
                    <p>Prix : <%= product.price.toFixed(2) %> €</p>
                    <p><%= product.description %></p>
                    <button onclick="window.location.href='/products/edit/<%= product._id %>'">Modifier</button>
                    <button onclick="deleteProduct('<%= product._id %>')">Supprimer</button>
                  </li>
                  
            <% }) %>
        </ul>
    </main>
    <footer>
        <p>&copy; 2024 Joseph KAFACK. Tous droits réservés.</p>
    </footer>
</body>
</html>
